---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Bienvenido a Open Gate.">
  <main class="flex flex-col">
    <Header />
    <section
      class="p-2 mt-5 w-3/4 flex flex-col justify-center items-center self-center"
    >
      <div class="flex flex-col justify-center items-center">
        <p class="text-lg font-medium">
          Open Gate es una plataforma de educación en línea que te permite
          aprender a tu propio ritmo, en cualquier lugar y en cualquier momento.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-3 text-center mt-8 w-full text-balance">
        <div class="flex flex-col justify-center items-center w-full p-1 bg-secondary-100">
          <h3 class="text-xl font-medium">Misión</h3>
          <p>
            Proporcionar soluciones integrales y personalizadas de consultoría,
            implementación y soporte para sistemas operativos Linux y Windows,
            que permitan a nuestros clientes optimizar su infraestructura
            tecnológica, mejorar su productividad y alcanzar sus objetivos de
            negocio.
          </p>
        </div>
        <div class="flex flex-col justify-center items-center w-full p-1 bg-secondary-100">
          <h3 class="text-xl font-medium">Visión</h3>
          <p>
            Ser la empresa líder en consultoría de sistemas operativos Linux y
            Windows, reconocida por su experiencia, innovación y servicio al
            cliente.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
