---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Bienvenido a Open Gate.">
	<main>
        <Header />
		<section>
			<p>Sobre Nosotros</p>
		</section>
	</main>
</Layout>

