---
import Nav from "./Nav.astro";
---

<header class="flex flex-row justify-center items-center
 p-2 border-b-2 border-white">
  <nav>
    <ul class="flex flex-row gap-5 font-medium">
      <li>
        <a href="/" class="p-1 rounded-lg transition-colors hover:text-accent-400"
          >Inicio</a>
      </li>
      <li>
        <a
          href="/sobre-nosotros"
          class="p-1 rounded-lg transition-colors hover:text-accent-400"
          >Sobre Nosotros</a>
      </li>
    </ul>
  </nav>
</header>
