<nav>
    <ul class="flex flex-row gap-5 font-medium">
        <li><a href="/" class="p-1 rounded-lg transition-opacity hover:opacity-50">Inicio</a></li>
        <li><a href="/contacto" class="p-1 rounded-lg transition-opacity hover:opacity-50">Contacto</a></li>
        <li><a href="/sobre-nosotros" class="p-1 rounded-lg transition-opacity hover:opacity-50">Sobre Nosotros</a></li>
    </ul>
</nav>